<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FaceAPI example</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--    <script src="/js/face-api.js"></script>-->
<!--    <script src="/js/main.js"></script>-->
<!-- <script src="/js/faceDetectionControls.js"></script> -->
    <script src="/js/drawing.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="/js/capture.js"></script>
    <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  </head>
  <body>
  <a href="/admin">Admin Page</a>
  <img id="image">
    Hellod


      <div class="center-content page-container">
<!--        Hellod-->
<!--        <div class="progress" id="loader">-->
<!--          <div class="indeterminate"></div>-->
<!--        </div>-->
<!--        <div style="position: relative" class="margin">-->
<!--          <video onplay="onPlay(this)" id="inputVideo" autoplay muted src></video>-->
<!--          <canvas id="overlay" />-->
<!--        </div>-->

        <div class="camera">
          <video id="video">Video stream not available.</video>
          <button id="startbutton">Take photo</button>
        </div>

        <canvas id="canvas">
        </canvas>
        <div class="output">
          <img id="photo" alt="The screen capture will appear in this box.">
        </div>



<!--        <script>-->
<!--          var video = document.querySelector("#inputVideo");-->

<!--          if (navigator.mediaDevices.getUserMedia) {-->
<!--            navigator.mediaDevices.getUserMedia({ video: true })-->
<!--            .then(function (stream) {-->
<!--              video.srcObject = stream;-->
<!--            })-->
<!--            .catch(function (err0r) {-->
<!--              console.log("Something went wrong!");-->
<!--            });-->
<!--          }-->
<!--        </script>-->
    </div>
  </body>
</html>
